

/* Colors are the following https://colorhunt.co/palette/1d5b79468b97ef6262f3aa60 */

html {
  box-sizing: border-box;
}

.root{ 
  display:flex; 
  flex-direction: column;
}

h3 {
  margin: 0;
}



.header-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color:#45969B;
  box-shadow: 0 2px 5px #ccc;
}

.header-box h1, p {
  margin:5px 0 5px 1rem;
  padding:10px 0 5px 1rem;

}
.body-box {
margin: 1rem 1rem;
display:flex;
justify-content: flex-start;
flex-wrap: wrap;
align-content:flex-start;
height: 1000px;
}

.card-box {
  display:flex;
  justify-content: center;
  background-color:#50B6BB;
  text-align: center;
  border: 1px solid;
  width: 250px;
  margin: .6rem;
  padding:1rem;
  box-shadow: 0 2px 5px #ccc;
  border-radius: 2px;
}

.body-box h3, p {
  margin:0;
  padding:0;
}


footer {
  position:absolute;
  width:100%;
}

footer p {
  margin: 2rem 0;
  color:#777;
  display:flex;
  justify-content: space-around;
} 